.button {
  padding: 10px 20px;
  color: #ffffff;
  background-color: rebeccapurple;
  border-radius: 20px;
  border: 0;
  text-decoration: none;
  outline: 0;

  &:hover {
    transform: scale(1.02);
  }
}
